@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --very-dark-grey: hsl(0, 0%, 17%);
  --dark-grey: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
  --primary-font: "Rubik", serif;
  --fs-h1: clamp(2.5rem, 5vw, 3.75rem);
  --fs-h2: clamp(2rem, 4vw, 2.5rem);
  --fs-h3: clamp(1.5rem, 3vw, 1.875rem);
  --fs-h4: clamp(1.125rem, 2vw, 1.25rem);
  --fs-h5: clamp(1rem, 1.5vw, 1rem);
  --fs-p: clamp(1rem, 1.5vw, 1rem);
  --fs-small: clamp(0.7rem, 1.5vw, 0.7rem);
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  overflow-x: hidden;
}

img,
picture,
svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

a, p, li {
  font-size: var(--fs-p);
}

.leaflet-container,
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

header {
  position: absolute;
  top: 3rem;
  min-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
  z-index: 999;
  left: 0;
}

header h1 {
  color: var(--white);
  font-weight: var(--font-500);
  text-align: center;
  font-size: var(--fs-h3);
}

.input-section {
  display: flex;
  input {
    border: 0;
    padding: 9px 5px;
    border-radius: 10px 0 0 10px;
    padding-left: 1rem;
    flex: 1;
    cursor: pointer;
  }
  button {
    border: 0;
    cursor: pointer;
    background-color: var(--very-dark-grey);
    padding: 7px;
    font-size: var(--fs-p);
  }
}

.show-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: var(--white);
  padding: 2rem 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.042);
  border-radius: 1rem;
  gap: 1rem;

  h2 {
    font-size: var(--fs-small);
    color: var(--dark-grey);
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-weight: var(--font-500);
    font-size: var(--fs-h4);
  }
}

.show-info section:not(:nth-child(1)) {
  padding-left: 2rem;
  border-left: 1px solid var(--dark-grey);
}

div[aria-label="circles-loading"] {
  z-index: 999;
  position: fixed;
  justify-content: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  header {
    top: 1rem;
  }
  header h1 {
    font-size: var(--fs-h4);
  }
  .show-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }
  .show-info section:not(:nth-child(1)) {
    padding-left: 0;
    border-left: none;
  }
  .background-image img {
    width: 100vw;
    height: 40vw;
  }
}